<h1>Editing feature</h1>

<%= start_form_tag :action => 'update', :id => @feature %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
